
 .cor-cad-post {
  color: #141111;
} 

.fundo22 {
  
    background:#f5f5f5;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.center {
    margin: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .botao-finalizar{
    background-color: #141111 !important;
   }

  .cor-finalizar{
    color: #f5f5f5;
  }