/* .fundo-cad-post {
  background-image: url(https://i.imgur.com/Z0vaX6C.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
} */

 .cor-cad-post {
  color: #141111;
} 

.fundo22 {
    background: #b52525bb;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid #00000026;
    margin-top: 90px;
    border-radius: 30px;
}

/* body {
    background-image: url("img_tree.gif"), url("paper.gif");
  } */

  .center {
    margin: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }