.text-decorator-none {
  text-decoration: none;
}

.fundo-post {
  background-color: #171616 !important;
  color: #b3ac42 !important;
}

.cor-post {
  color: #ebe7e7;
}

.cor-botao-post {
  
  background-color: #cdc21d !important;
  color: #000000 !important;
}

.cor-botao-post2 {
  
    background-color: #e21a00dd !important;
    color: #000000 !important;
  }
