.box {
  background-color: #040303;
}

.box1 {
  height: "120px";
}

.box2 {
  color: #ffffff;
}

.box3 {
  background-color: #040303;
  height: "60px";
  margin: 10px;
}

.box4 {
  font-size: 45px !important;
  color: #ffffff;
}

a {
  margin-right: 3px;
}

.tamanho-f {
  margin: 0% !important;
}
